* {
    box-sizing: border-box;
}
body {
    font-family: tahoma, arial;
    /* background-color: brown; */
}
.parent {
    width: 600px;
    margin: 40px auto;
    background-color: #eee;
    padding: 20px;
}
.parent input {
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
}
.parent input:focus {
    outline: none;
}
.parent .buttons {
    display: flex;
    justify-content: space-between;
}
.parent .buttons span {
    background-color: #009688;
    text-align: center;
    color: #FFF;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.parent .results {
    background-color: #FFF;
    padding: 20px;
    margin-top: 15px ;
    border: 2px solid #eee;
    text-align: center;
}
.parent .results span span{
    font-weight: bold;
    color: #009688;
}
.parent .results span .key {
    display: block;
}
p {
    color: black;
    text-align: center;
    font: 13px;
    padding: 320px 0 10px;
}
p a {
    text-decoration: none;
    border-bottom: blueviolet 1px solid;
    color:#009688;
}